body {
    margin: 0;
    padding: 0;
}

.backgroundLight {
    background-image: url("/src/img/background1.jpg");
    background-position: 50% 0;
    height: 100%;

}

.backgroundDark {
    background-image: url("/src/img/background1Night.jpg");
    background-position: 50% 0;

}

h1 {
    text-align: center;
    padding:0;
    margin:0;
}


